<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Acres Craft Cannabis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A120D3591D241BD700F9D53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A120D3701D241BD800F9D53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A120D37B1D241BD800F9D53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
